
.primary{
    color: green;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.intro-block .row{
    align-items: center;
}

.avatar{
    width: 30%;
}

.avatar img{
    width: 100%;
    border-radius: 50%;
}

.content{
    width: 70%;
}

.contact-me ul{
    list-style: none;
    padding: 0;
}

.contact-me>ul li{
    display: inline;
    padding: 0 5px;
}
